<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Salutation</th>
      <th>Full name</th>
      <th>Staff</th>
      <th>Designation</th>
      <th>Faculty</th>
      <th>Office telephone number</th>
      <th>Mobile telephone number</th>
      <th>Employment type</th>
      <th>Qualification</th>
      <th>Field of knowledge</th>
      <th>Technical skills</th>
      <th>Personal skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.salutation %></td>
        <td><%= profile.full_name %></td>
        <td><%= profile.staff_id %></td>
        <td><%= profile.designation %></td>
        <td><%= profile.faculty %></td>
        <td><%= profile.office_telephone_number %></td>
        <td><%= profile.mobile_telephone_number %></td>
        <td><%= profile.employment_type %></td>
        <td><%= profile.qualification %></td>
        <td><%= profile.field_of_knowledge %></td>
        <td><%= profile.technical_skills %></td>
        <td><%= profile.personal_skills %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
