<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <div class="jumbotron text-center">
      <h2>
        <%= @programme_session.name %>
      </h2>

      <p>
      <%= @programme_session.start_date.strftime("%d-%m-%Y") %> - <%= @programme_session.end_date.strftime("%d-%m-%Y") %>
      </p>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <% if @programme_session.users.include?(current_user) %>
      <h3>You have already registered for this programme</h3>
    <% else %>
      <h3>Register as Trainer</h3>

      <%= form_for(@registration, url: register_programme_session_path) do |f| %>
        <% if @registration.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

            <ul>
            <% @registration.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label class=" control-label" for="textinput">Weekly Teaching Hours</label>  
          <div class="">
            <%= f.number_field :weekly_teaching_hours, min: 0, max: 168, class: "form-control" %>
            <span class="help-block">The number of hours you teach in a week</span>  
          </div>
        </div>

        <% if @programme_modules_by_category %>
          <h4>Select Modules</h4>
          <% @programme_modules_by_category.each do |category, modules| %>
            <h5><%= category %></h5>
            <% modules.each do |m| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="registration[programme_module_ids][]" value=<%= m.id %>><%= m.listing_name %>
                </label>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <br/>
        <h4>Timetable Picker</h4>
        <table class="table table-bordered" style="border:none;">
          <tbody>
            <tr>
              <td></td>
              <td>9.30-10.30am (1.5h)</td>
              <td>11.00-1.00pm (2h)</td>
              <td>2.00-2.30pm (1.5h)</td>
              <td>4.00-5.00pm (1.0h)</td>
              <td>5.30-6.30pm (1.0h)</td>
            </tr>
            <tr>
              <td>Mon</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tue</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Wed</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Thu</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Fri</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Sat</td>
              <td colspan=4></td>
            </tr>
            <tr>
              <td>Sun</td>
              <td colspan=4></td>
              <td style="border: none;">4.30pm (7.0h)</td>
            </tr>
          </tbody>
        </table>
        <h4>Module Requirements</h4>
        <div class="form-group">
          <%= f.label "Type of Venue Required" %><br>
          <%= f.collection_radio_buttons :venue_id, Venue.all, :id, :name do |r| %>
            <%= r.label(class: "radio_button") { r.radio_button(class: "radio_button") } %> <%= r.text %><br/>
          <% end %>
          <%= f.radio_button :venue_id, "" %> Other
          <%= f.text_field :other_venue, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :required_stationery %><br>
          <%= f.text_area :required_stationery, class: "form-control" %>
          <span class="help-block">Please list. eg. 1) Pen -10pcs 2) A4 Paper -1ream</span>  
        </div>
        <div class="field">
          <%= f.label :required_equipment %><br>
          <%= f.text_area :required_equipment, class: "form-control"  %>
          <span class="help-block">eg : 1) Mic - 2 units, 2) Flip chart - 1 unit, 3) Laptop - 1 unit, 4) Whiteboard - 1 unit</span>  
        </div>
        <div class="field">
          <%= f.label :additional_notes %><br>
          <%= f.text_area :additional_notes, class: "form-control"  %>
          <span class="help-block">Please list. eg. 1) Pen -10pcs 2) A4 Paper -1ream</span>  
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Register", class: "btn btn-primary btn-lg"%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
